<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>PharmacyAdmin</title>
</head>

<body>
    <div class="sidebar">
        <a href="{{ '/' }}" style="width: 35%"><div>ООО "КОМФ-ОРТ"</div></a>
        <a class="active" href="/pharmacies">
            <i class="fas fa-briefcase-medical"></i><span>Pharmacies</span>
        </a>
        <a href="/products">
            <i class="fas fa-tablets"></i><span>Products</span>
        </a>
        <a href="/available">
            <i class="fas fa-tablets"></i><span>Available</span>
        </a>
    </div>

    <div class="wrapper">
        <header class="header">
            <div class="header__container">
            </div>
        </header>
        <main class="main">
            <div class="main__container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>id_pharmacy</th>
                            <th>id_good</th>
                            <th>available</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data%}
                        <tr>
                            <td data-label="id_pharmacy">{{i[0]}} <br><a href="/del_av/{{i[0]}}/{{i[1]}}">Удалить</a></td>
                            <td data-label="id_good">{{i[1]}}</td>
                            <td data-label="available">{{i[2]}}</td>
                        </tr>
                        {%endfor%}
                        <form method="post" action="{{'/available'}}" enctype=multipart/form-data>
                            <td data-label="id_pharmacy"><input id="id_pharmacy" name="id_pharmacy" style="width: 50px; border: 1px solid"></td>
                            <td data-label="id_good"><input id="id_good" name="id_good" style="width: 75px; border: 1px solid"></td>
                            <td data-label="available"><input id="available" name="available" style="width: 120px; border: 1px solid">
                                <button style="background-color: red;">ENTER</button></td>
                                
                        </form>
                        
                    </tbody>
                    
                </table>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
            </div>
        </footer>
    </div>

</body>

</html>