<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>PharmacyAdmin</title>
</head>

<body>
    <div class="sidebar">
        <div class="sidebar__header">Аптека</div>
        <a class="active" href="/pharmacies">
            <i class="fas fa-briefcase-medical"></i><span>Pharmacies</span>
        </a>
        <a href="/products">
            <i class="fas fa-tablets"></i><span>Products</span>
        </a>
        <a href="/available">
            <i class="fas fa-tablets"></i><span>Available</span>
        </a>
    </div>

    <div class="wrapper">
        <header class="header">
            <div class="header__container">
            </div>
        </header>
        <main class="main">
            <div class="main__container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>address</th>
                            <th>phone</th>
                            <th>schedule</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data%}
                        <tr>
                            <td data-label="id">{{i[0]}}</td>
                            <td data-label="title">{{i[1]}}</td>
                            <td data-label="address">{{i[2]}}</td>
                            <td data-label="phone">{{i[3]}}</td>
                            <td data-label="schedule">{{i[4]}}</td>
                        </tr>
                        {% endfor %}
                        <form action="{{'/pharmacies'}}" method="post">
                            <td data-label="id">
                                <input id="id" name="id" style="border: 1px solid">
                                
                            </td>
                            <td data-label="title">
                                <input id="title" name="title" style="border: 1px solid">
                                
                                
                            </td>
                            <td data-label="address">
                                <input id="address" name="address" style="border: 1px solid">
                                
                                
                            </td>
                            <td data-label="title">
                                <input id="phone" name="phone" style="border: 1px solid">
                                
                                
                            </td>
                            <td data-label="title">
                                <input id="schedule" name="schedule" style="border: 1px solid">
                                <button style="background-color: red;">ENTER</button>
                                
                            </td>
                            
                        </form>
                    </tbody>
                </table>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
            </div>
        </footer>
    </div>

</body>

</html>