<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>PharmacyAdmin</title>
</head>

<body>
    <div class="sidebar">
        <a href="{{ '/' }}" style="width: 35%"><div>ООО "КОМФ-ОРТ"</div></a>
        <a class="active" href="/pharmacies">
            <i class="fas fa-briefcase-medical"></i><span>Pharmacies</span>
        </a>
        <a href="/products">
            <i class="fas fa-tablets"></i><span>Products</span>
        </a>
        <a href="/available">
            <i class="fas fa-tablets"></i><span>Available</span>
        </a>
        <form class="sidebar__search search" method="post" action="{{ '/search' }}">
            <input type="text" id="text" name="text" class="search__term" placeholder="Что вы хотите найти?">
            <button type="submit" class="search__button">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>

    <div class="wrapper">
        <header class="header">
            <div class="header__container">
            </div>
        </header>
        <main class="main">
            <div class="main__container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>barcode</th>
                            <th>title</th>
                            <th>manufacturer</th>
                            <th>img</th>
                            <th>information</th>
                            <th>price</th>
                            <th>leave_condition</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="barcode">{{data[0]}}<br><a href="/reviews/{{data[0]}}">Отзывы</a><br><a href="/available/{{data[0]}}">Наличие</a>
                                <br><a href="/del/{{data[0]}}">Удалить</a></td>
                            <td data-label="title">{{data[1]}}</td>
                            <td data-label="manufacturer">{{data[2]}}</td>
                            <td data-label="img">{{data[3]}}</td>
                            <td data-label="information">{{data[4]}}</td>
                            <td data-label="price">{{data[5]}}</td>
                            <td data-label="leave_condition">{{data[6]}}</td>
                        </tr>
                        <form method="post" action="/update/{{data[0]}}" enctype=multipart/form-data>
                            <td data-label="barcode"><input value={{data[0]}} id="id" name="id" style="width: 50px; border: 1px solid"></td>
                            <td data-label="title"><textarea id="title" name="title" style="width: 75px; border: 1px solid">{{data[1]}}</textarea></td>
                            <td data-label="manufacturer"><textarea id="manufacturer" name="manufacturer" style="width: 120px; border: 1px solid">{{data[2]}}</textarea></td>
                            <td data-label="img"><input value={{data[3]}} type="file" accept=".jpg, .png, .jpeg, .webp" name="img" multiple></td>
                            <td data-label="information"><textarea id="information" name="information" style="width: 330px; border: 1px solid">{{data[4]}}</textarea></td>
                            <td data-label="price"><input value={{data[5]}} id="price" name="price" style="width: 30px; border: 1px solid"></td>
                            <td data-label="leave_condition"><input value={{data[6]}} id="leave_condition" name="leave_condition" style="width: 30px; border: 1px solid">
                                <button style="background-color: red;">ENTER</button></td>
                        </form>
                        
                    </tbody>
                    
                </table>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
            </div>
        </footer>
    </div>

</body>

</html>